.card{
  max-width: 50rem;
  width: 100%;
  height: 28rem;
  display: flex;
  margin: 0 .9rem;
  overflow: auto;
  border-radius: .6rem;
  background-color: var(--dark-color);
  box-shadow: -5px 5px 10px rgba(0, 0, 0, 0.7);
  animation: slideY .7s;
}

@keyframes slideY{
  from {
      transform: translateY(100px);
  }
  to {
      transform: translateY(0);
  }
}

.card-img{
  width: 40%;
  overflow: hidden;
}

.card-img img{
  height: 100%;
  width: 100%;
  object-fit: cover;  
}

.card-body{
  width: 60%;
  padding: 2rem;
  color: var(--light-color);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  font-size: .8rem;
}

.card-title{
  font-size: 1.8rem;
  margin-bottom: .5rem;
  text-align: left;
  letter-spacing: 1px;
}

.date-time{
  display: flex;
  flex-wrap: wrap;
  gap: .8rem;
  font-size: 1rem;
  margin-bottom: .7rem;
  color: var(--primary-color);
}

.date-time span{
  margin-right: 2rem;
  color: var(--light-color);
}

.genre{
  display: flex;
  flex-wrap: wrap;
  gap: .8rem;
  font-size: 1rem;
  margin-bottom: .7rem;
}

.genre span{
  display: block;
  border: 1px solid var(--primary-color);
  padding: .4rem 1.6rem;
  border-radius: .4rem;
  font-weight: 300;
}

.rating{
  font-size: 1.1rem;
  font-weight: 500;
  color: var(--primary-color);
  margin-bottom: .5rem;
}

.rating strong{
  color: var(--light-color);
  margin-left: .6rem;
}

.card-body p{
  font-size:.8rem;
  font-weight: 300;
  text-align: justify;
  line-height: 1.2rem;
  color: #afafaf;
  margin-bottom: .5rem;
}

.buttonsCard{
  display: flex;
  gap: 10px;
  width: 100%;
}

:is(.buttonsCard a, .buttonsCard button){
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
  text-decoration: none;
  width: 200px;
  font-size: 1rem;
  font-weight: 500;
  background-color: transparent;
  color: var(--primary-color);
  border: 2px solid var(--primary-color);
  padding: 7px 10px;
  border-radius: .4rem;
  cursor: pointer;
  transition: .5s ease;
}

:is(.buttonsCard button:hover, .buttonsCard a:hover){
  background-color: var(--primary-color);
  color: var(--dark-color);
}

@media screen and (max-width:800px) {
  .card{
      flex-direction: column;
      height: 80vh;
      justify-content: center;
      align-items: center;
      overflow: auto;
  }

  .card-img{
      height: 40%;
      width: 100%;
  }

  .card-body{
      height: 60%;
      width: 100%;
  }

  .card-body{
      padding: 1rem;
  }

  .card-title{
      font-size: 1.4rem;
      letter-spacing: 1px;
  }

  .date-time{
      font-size: .8rem;
  }
  
  .genre span{
      display: block;
      border: 1px solid #afafaf;
      padding: .1rem .4rem;
      border-radius: .4rem;
      font-weight: 300;
  }
}

