/* https://www.behance.net/gallery/93291869/SHOWTIME-MOVIE-WEBSITE-UIUX */


.header-container{
  width: 100%;
  height: 90vh;
  background-size: cover;
  background-position: center;
  display: flex;
}

.content-left{
  height: 100%;
  width: 50%;
  padding: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: end;
  color: var(--light-color);
}

.title{
  max-width: 80%;
}

.title h2{
  font-size: 4rem;
  text-align: left;
  margin-bottom: 1rem;
}

.data{
  width: 50%;
  display: flex;
  justify-content: space-around;
  margin-bottom: 1rem;
}

.data svg{
  margin-right: .5rem;
  color: var(--primary-color);
}

.content-left a{
  width: 50%;
  text-align: center;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 500;
  background-color: var(--primary-color);
  border: 1px solid var(--primary-color);
  color: var(--dark-color);
  padding: 10px;
  border-radius: .4rem;
  cursor: pointer;
  transition: .5s ease;
}

.content-left a:hover{
  border: 1px solid var(--primary-color);
  background-color:var(--dark-color) ;
  color: var(--primary-color);
}

.content-right{
  height: 100%;
  width: 50%;
  padding: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.content-right p{
  text-align: right;
  color: var(--light-color);
}

@media screen and (max-width: 950px) {
  .content-left{
    padding:2rem;
  }

  .title h2{
    font-size: 3rem;
  }
}

@media screen and (max-width: 700px) {
  .content-left{
    width: 100%;
  }

  .data{
    justify-content: center;
  }

  .content-left a{
    justify-content: center;
    width: 100%;
  }

  .title h2{
    font-size: 2rem;
  }
}
