nav{
  position:sticky;
  left: 0;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 10vh;
  padding: 0 4rem;
  background-color: var(--dark-color);
  /* box-shadow: -5px 5px 10px rgba(0, 0, 0, 0.7); */
  z-index: 1000;
}

/* .logo{
  display: flex;
  justify-content: center;
  align-items: center;
} */

.logo a{
  text-decoration: none;
  color: var(--primary-color);
  cursor: pointer;
  font-size: 2rem;
  font-weight: bold;
}

.nav-links{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5rem;
}

.nav-links a{
  position: relative;
  text-decoration: none;
  cursor: pointer;
  color: var(--primary-color);
  font-size: 1.1rem;
  
}

.nav-links a::after{
  content: '';
  width: 100%;
  height: 2px;
  background-color: var(--primary-color);
  position: absolute;
  left: 0;
  bottom: -6px;
  border-radius: .4rem;
  transform: scale(0);
  transition: transform .5s ease;
}

.nav-links a:hover::after{
  transform: scale(1);
}


/* .buttons{
  text-decoration: none;
  width: 8rem;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: 2px solid var(--primary-color);
  background: transparent;
  padding: .5rem 1rem;
  color: var(--primary-color);
  gap: .5rem;
  border-radius: .4rem;
  transition: .5s ease;
} */

/* .buttons:hover{
  transform: scale(1.05);
}

.buttons svg{
  display: none;
}

@media screen and (max-width: 800px) {
  nav span{
    display: none;
  }

  .logo svg{
    display: block;
    font-size: 2rem;
  }
    
  .buttons svg{
    display: block;
    font-size: 2rem;
  }

  .buttons{
    border: 0;
  }
} */

