nav{
  position:sticky;
  left: 0;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 10vh;
  background-color: var(--dark-color);
  box-shadow: -5px 5px 10px rgba(0, 0, 0, 0.7);
  z-index: 1000;
}

.logo{
  text-decoration: none;
  font-size: 2rem;
  cursor: pointer;
  color: var(--primary-color);
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo svg{
  display: none;
}

.buttons{
  text-decoration: none;
  width: 8rem;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: 2px solid var(--primary-color);
  background: transparent;
  padding: .5rem 1rem;
  color: var(--primary-color);
  gap: .5rem;
  border-radius: .4rem;
  transition: .5s ease;
}

.buttons:hover{
  transform: scale(1.05);
}

.buttons svg{
  display: none;
}

@media screen and (max-width: 800px) {
  nav span{
    display: none;
  }

  .logo svg{
    display: block;
    font-size: 2rem;
  }
    
  .buttons svg{
    display: block;
    font-size: 2rem;
  }

  .buttons{
    border: 0;
  }
}

