@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root{
  --dark-color:#1B1B1E;
  --dark-secondary-color: #2e2e2e;
  --light-color: #FBFFFE;
  --primary-color:#f1c40f;
  --secondary-color:#6D676E;
  /* --terciary-color:#96031A; */

  --font-family: 'Roboto', sans-serif;
}

:is(html, body, #root){
  min-height: 100vh;
}

body{
  font-family: sans-serif;
  background-color:var(--dark-secondary-color);
  font-family: var(--font-family);
}

::-webkit-scrollbar{
  width: .8rem;
}

::-webkit-scrollbar-track{
  background-color: var(--dark-color);
  border-radius: .4rem;
}

::-webkit-scrollbar-thumb{
  background-color: var(--secondary-color);
  border-radius: .4rem;
}